@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Handjet:wght@300&family=Pacifico&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Handjet:wght@300&family=Pacifico&family=Roboto+Slab:wght@700&family=Young+Serif&display=swap');

:root {
    --gunmetal: #182825ff;
    --azul: #016fb9ff;
    --pacific-cyan: #22aed1ff;
    --air-force-blue: #6d8ea0ff;
    --bone: #dddbcfff;
    --alabaster: #eeede7ff;
}

html {
    background-color: var(--alabaster);
    background-image: url('./assets/floatingbooks.png');
    background-size: cover;
}

img {
    width: 150px;
}

body{
    max-width: 1500px;
    margin: 0 auto;
    font-family: "Roboto Slab";
    color: var(--gunmetal);
}

#html-link {
    display: block;
    text-align: center;
}

form {
    font-size: 25px;
}

main {
  display: grid;
  text-align: center;
}

h1,h2 {
    font-family: "Pacifico";
    color: var(--azul);
}

h1 {
    text-align: center;
    font-size: 70px
}

h3 {
    margin: 0 auto;
}

.entry-container {
    height: 250px;
}

.new-book-entry {
    height: 50px;
}

ul {
    max-height: 1200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.book-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.error {
    font-size: 25px;
    color: red;
    padding: 25px;
    text-align: center;
}

#top-h1 {
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

li {
    background-color: var(--bone);
    width: 600px;
    border-radius: 15px;
    border: 2px solid var(--azul);
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button {
    color: var(--bone);
    background-color: var(--air-force-blue);
    border-radius: 15px;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#your-bookshelf {
    margin-bottom: 55px;
}

#about-me-ul {
    display: flex;
    margin: 0 auto;
    width: 300px;
}

#about-me-links {
    text-align: center;
    width: 100px;
    background: none;
    border: none;
}

#about-me-paragraph {
    width: 800px;
    text-align: center;
}

#title-color {
    color: var(--pacific-cyan);
}

@media (max-width: 800px) {
    .book-results {
        display: grid;
        grid-template-columns: 1fr;
    }
    ul {
        max-height: 400px;
        overflow-y: auto;
    }

    #about-me-ul {
        display: block;
        margin: 0 auto;
        width: 300px;
    }
    #about-me-paragraph {
        width: 600px;
        text-align: center;
    }
  }